python-dotenv~=1.1.0
mistralai~=1.5.0
certifi~=2025.1.31
pymongo~=4.12.0
dotenv~=0.9.9
langchain~=0.3.23
langchain-core~=0.3.51
langchain_text_splitters
langchain-community~=0.3.21
langchain-text-splitters~=0.3.8